@import "./variables";

.title{
    color:$light-text
}
.ill_bg{
    background:url("/img/landing.png");
    background-attachment:scroll;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}