@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Josefin+Sans&family=Lobster&family=Sora&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  transition:background 0.5s linear, fill 0.5s linear;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Heebo', 'Josefin Sans', 'Sora', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  width: 4px;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(87, 87, 87);
  border-radius: 40px;
  outline: 1px solid slategrey;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

}
.overflow-y-scroll::-webkit-scrollbar{
  width:4px;
}
.overflow-y-scroll::-webkit-scrollbar-thumb{
  width:2px;
  background-color: rgb(87, 87, 87);
  border-radius:10%;
}
/*colors rose-700 indigo-700 fuchsia-700*/
/*colors mode slate-100 slate-900*/
/*text slate-900 dark:slate-200*/
@layer components{
  .c-container-sm{
    @apply flex flex-col p-4;
  }
  .c-container-lg{
    @apply lg:flex-row lg:px-40 lg:items-center;
  }
  .c-btn{
    @apply shadow-slate-600 dark:shadow-slate-600 py-3 px-5 cursor-pointer shadow rounded-full active:shadow-none dark:text-slate-300;
  }
  .form-btn{
    @apply transition-none bg-indigo-700 border border-indigo-700 text-slate-200 py-2 active:bg-inherit active:text-indigo-700 dark:bg-slate-800 dark:text-slate-400 dark:active:bg-inherit dark:border-slate-800;
  }
  .u-dark{
    @apply dark:bg-slate-800 dark:text-slate-300;
  }
  .c-inp-cont{
    @appy flex flex-col relative;
  }
  .c-inp{
    @apply w-full outline-0 p-3 my-3 bg-inherit border-b border-slate-500 focus:border-slate-900 dark:text-slate-200 dark:border-b-slate-300;
  }
  .c-form-cont{
    @apply basis-1/3 w-11/12 my-6 px-4 py-5 rounded md:mx-3 md:w-8/12 lg:w-full lg:w-96 bg-slate-300 dark:bg-slate-500 dark:text-slate-200;
  }
}

@layer utilities{
  .error-msg{
    @apply inline text-rose-500 text-sm;
  }
}
