@import url('https://fonts.googleapis.com/css2?family=Epilogue&family=Lobster&family=Sora&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Sora','Epilogue', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/*colors rose-700 indigo-700 fuchsia-700*/
/*colors mode slate-100 slate-900*/
@layer components{
  .c-container-sm{
    @apply flex flex-col p-4;
  }
  .c-container-lg{
    @apply lg:flex-row lg:px-40 lg:items-center;
  }
  .c-btn{
    @apply shadow-slate-600 dark:shadow-slate-600 p-3 cursor-pointer shadow rounded-full active:shadow-none dark:text-slate-400;
  }
  .u-dark{
    @apply dark:bg-slate-800 dark:text-slate-400;
  }
  
}


